@font-face {
    font-family: Octopath;
    src: url(../font/print_bold.ttf);
    font-weight: bold;
}
:root{
    --blue: rgb(100, 124, 128);
    --border: #ded4c0;
    --borderBG: #18140f;
}
html{
    background-color: var(--border);
    image-rendering: optimizeSpeed;
    font-weight: bold;
    font-family: Octopath;
    user-select: none;
    color: var(--border);
}

.all{
    display: grid;
}
.shopTop{
    display: flex;
    flex-direction: row;
    gap: 2%;
    margin: 30px 30px 15px 30px;
}
.shopBottom{
    display: flex;
    flex-direction: row;
    gap: 2%;
    margin: 15px 30px 30px 30px;
}

.categories, .items, .shopkeeper, .buyingMenu, .description{
    background-color: var(--borderBG);
    border:var(--border) 5px solid;
    outline: var(--borderBG) 5px solid;
}
.categories{
    width: 22%;
    height: 550px;
    font-size: 64px;
    text-align: center;
    line-height: 80px;
}
#categoriesTitle{
    font-size: 80px;
    line-height: 100px;
}

.items{
    width: 75%;
    height: 550px;
    font-size: 64px;
    text-align: left;
    line-height: 80px;
    overflow-y: scroll;
}
.insideItems{
    margin-left: 20px;
}
#potions, #food, #armor, #weapons{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    text-align: center;
    outline: pink 1px solid;
}
#lowHP, #midHP, #highHP, #lowMP, #midMP, #highMP{
    width: 152px;
    height: 144px;
    image-rendering: pixelated;
    border: var(--borderBG) 5px solid;
    outline: var(--border) 5px solid;
}
#lowHP{
    background: url(../img/potions.png) 0px 0px;
    background-size: 912px 144px;
    background-repeat: no-repeat;
    background-color: var(--border);
}
#midHP{
    background: url(../img/potions.png) -152px 0px;
    background-size: 912px 144px;
    background-repeat: no-repeat;
    background-color: var(--border);
}
#highHP{
    background: url(../img/potions.png) -304px 0px;
    background-size: 912px 144px;
    background-repeat: no-repeat;
    background-color: var(--border);
}
#lowMP{
    background: url(../img/potions.png) -456px 0px;
    background-size: 912px 144px;
    background-repeat: no-repeat;
    background-color: var(--border);
}
#midMP{
    background: url(../img/potions.png) -608px 0px;
    background-size: 912px 144px;
    background-repeat: no-repeat;
    background-color: var(--border);
}
#highMP{
    background: url(../img/potions.png) -760px 0px;
    background-size: 912px 144px;
    background-repeat: no-repeat;
    background-color: var(--border);
}

.shopkeeper, .buyingMenu{
    width: 22%;
    height: 400px;
}
.description{
    width: 50%;
}



/* #deez{
    position: absolute;
    background-color: black;
    width: 200px;
    height: 200px;
    top: 1500px;
}
#amogus{
    width: 100px;
    height: 100px;
    background-color: blue
} */