@font-face {
    font-family: Octopath;
    src: url(../font/print_bold.ttf);
    font-weight: bold;
}
:root{
    --blue: rgb(100, 124, 128);
    --border: #ded4c0;
    --borderBG: #18140f;
}
html{
    background-color: var(--borderBG);
    background-image: url(../img/town.png);
    background-repeat: no-repeat;
    background-position-x: center;
    background-size: 75%;
    overflow: hidden;
    image-rendering: optimizeSpeed;
    font-weight: bold;
    font-family: Octopath;
    user-select: none;
}

.encounters{
    display: grid;
    grid-gap: 3px;
    padding: 3px 9px 3px 3px;
    grid-template-columns: 200px 200px 200px;
    background-color: var(--borderBG);
    width: 600px;
    position: absolute;
    left: 50%;
    top: 2%;
    transform: translate(-50%);
   
}
#plains, #forest, #road{
width: 200px;
height: 200px;
background-color:black;
background-size: cover;
font-size: 72px;
text-align: center;
color: var(--border);
line-height: 300px;
}
#plains{
background-image: url(../img/PlainsIcon.png);
}
#forest{
background-image: url(../img/ForestIcon.png);
}
#road{
background-image: url(../img/RoadIcon.png);
}

.characters{
    padding: 3px 9px 3px 3px;
    display: grid;
    background-color: var(--border);
    outline: var(--borderBG) 5px solid;
    gap: 3px;
    width: 318px;
    height: 74px;
    grid-template-columns: 106px 106px 106px;
    position: absolute;
    left: 50%;
    bottom: 20px;
    transform: translate(-50%);
}
.border{
    background-color: var(--borderBG);
}
.Cyrus, .Alfyn, .Ophilia{
    background: url('../img/IdleAnims.png') no-repeat 0 0%;
    margin: auto;
    position: relative;
    background-size: 306px 208px;
    image-rendering: pixelated;
}
.Cyrus{
    animation: cyrusIdle 0.80s steps(4) infinite;
    width: 48px;
    height: 72px;
    background-size: 306px 208px;
}
.Alfyn{
    animation: alfynIdle 0.60s steps(3) infinite;
    width: 102px;
    height: 66px;
    bottom: -7px;
}
.Ophilia{
    animation: ophiliaIdle 0.80s steps(4) infinite;
    width: 56px;
    height: 70px;
}
@keyframes cyrusIdle{
    from {background-position: 0px 0px;}
    to {background-position: -192px 0px;}
}
@keyframes alfynIdle{
    from {background-position: 0px -73px;}
    to {background-position: -306px -73px;}
}
@keyframes ophiliaIdle{
    from {background-position: 0px -136px;}
    to {background-position: -224px -136px;}
}
.statsDiv{
    position: absolute;
    left: 50%;
    bottom: 120px;
    transform: translate(-50%);
    background-color: var(--borderBG);
    border: 4px var(--border) solid;
    outline: var(--borderBG) 5px solid;
    color: var(--border)
}
.statsTable{
    width: 318px;
    font-size: 48px;
}
td{
padding: 0 5px 0 5px;
}
#LVL, #HP, #EXP, #ATK, #DEF{
    text-align: right;
}
button{
    width: 250px;
    color: #ded4c0;
    border: 20px solid transparent;
    border-image: url(../img/MenuBorder.png) 64 stretch;
    border-radius: 16px;
    background-color: #18140f;
    font-family: Octopath;
    font-weight: bold;
    font-size: 48px;
    text-align: center;
    line-height: 64px;
}
#shop{
    position: absolute;
    right: 200px;
    bottom: 20px;
    transform: translate(-30%);
}
#inventory{
    position: absolute;
    left: 200px;
    bottom: 20px;
    transform: translate(30%);
}