@font-face {
    font-family: Octopath;
    src: url(../font/print_bold.ttf);
    font-weight: bold;
}
:root{
    --blue: #39b0dc;
    --white: #ded4c0;
    --brown: #18140f;
    --red: #bc3131;
    --green: #41804b;
    --yellow: #e6cc3c;
    --gray: #4e4949;
}
html{
    background-color: var(--brown);
    background-image: url(../img/Plains.png);
    background-repeat: no-repeat;
    background-position-x: center;
    background-size: 75%;
    overflow: hidden;
    image-rendering: optimizeSpeed;
    font-weight: bold;
    font-family: Octopath;
    user-select: none;
    color: var(--brown);
}
.party{
    position: absolute;
    right: 250px;
    bottom: 0px;
}
#cyrusIdle{
    background-image: url(../img/IdleAnims.png);
    width: 96px;
    height: 144px;
    background-size: 612px 416px;
    image-rendering: pixelated;
}
.Cyrus{
    position: absolute;
    right: 30%;
    bottom: 3em;
}
#alfynIdle{
    background-image: url(../img/IdleAnims.png);
    width: 204px;
    height: 132px;
    background-size: 612px 416px;
    image-rendering: pixelated;
    background-position-y: -146px;
}
.Alfyn{
    position: absolute;
    right: 40%;
    bottom: 8em;
}
#ophiliaIdle{
    background-image: url(../img/IdleAnims.png);
    width: 112px;
    height: 140px;
    background-size: 612px 416px;
    image-rendering: pixelated;
    background-position-y: -272px;
}
.Ophilia{
    position: absolute;
    right: 30%;
    bottom: 13em;
}
#wolfIdle{
    background-image: url(../img/Wolf.png);
    width: 320px;
    height: 264px;
    background-size: 2560px 264px; /* he's big bro*/
    image-rendering: pixelated;
}
.Wolf{
    position: absolute;
    left: 20%;
    bottom: 4em;
}
.wolfInfoSection{
    position: relative;
    /* outline: red 2px solid; */
    height: 150px;
    top: 50px;
}
#wolfHPBar{
    width: 400px;
    outline: var(--brown) 4px solid;
    background-color: var(--gray);
    height: 25px;
    border-top-right-radius: 50px 25px;
}
#wolfHPBarBG{
    width: 400px;
    height: 25px;
    border-top-right-radius: 50px 25px;
    background-color: var(--green);

}
#partyHPBar{
    width: 300px;
    outline: var(--brown) 4px solid;
    background-color: var(--gray);
    height: 25px;
    border-top-right-radius: 50px 25px;
    position:relative;
    bottom: 400px;
}
#partyHPBarBG{
    width: 300px;
    height: 25px;
    border-top-right-radius: 50px 25px;
    background-color: var(--green);

}

.potions{
    display: grid;
    grid-template-columns: 150px 150px 150px;
    gap: 30px;
}
.potions > div{
    width: 152px;
    height: 144px;
    image-rendering: pixelated;
    border: var(--brown) 6px solid;
    outline: var(--white) 5px solid;
    background: url(../img/potions.png);
    background-size: 912px 144px;
    background-repeat: no-repeat;
    background-color: var(--white);
}
#lowHP{
    background-position: 0px 0px;
}
#midHP{
    background-position: -152px 0px;
}
#highHP{
    background-position: -304px 0px;
}
.items{
    position: absolute;
    bottom: 500px;
    right: 150px;
}
.potionAmount{
    display: grid;
    grid-template-columns: 150px 150px 150px;
    gap: 30px;
    height: 90px;
    margin-bottom: 15px;
    left: 50%;
}
.potionAmount > div{
    position: relative;
    width: 152px;
    border: var(--brown) 6px solid;
    outline: var(--white) 5px solid;
    background-color: var(--white);
    font-size: 80px;
    text-align: center;
}
#attackButton{
    border: var(--white) 6px solid;
    outline: var(--brown) 5px solid;
    background-color: var(--brown);
    position: absolute;
    color: var(--white);
    width: 250px;
    height: 100px;
    font-size: 40px;
    left: 50%;
    transform: translate(-50%);
    bottom: 100px;
}