@font-face {
    font-family: Octopath;
    src: url(../font/print_clearly.ttf);
}
@font-face {
    font-family: Octopath;
    src: url(../font/print_bold.ttf);
    font-weight: bold;
}
body{
    background-image: url(../img/TitleBG.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #013c58;
}
#Title{
    background-image: url(../img/Title.png);
    width: 932px;
    height: 284px;
    background-size: cover;
    background-color: transparent;
    margin:auto;
}
button{
    width: 230px;
    height: 1px;
    color: #ded4c0;
    border: 40px solid transparent;
    border-image: url(../img/MenuBorder.png) 100 stretch;
    border-radius: 20px;
    background-color: #18140f;
    font-family: Octopath;
    font-weight: bold;
    font-size: 34px;
    text-align: center;
    padding-bottom: 27px;
    position: absolute;
    top: 50%;
}
#Start{
    left: 30%;
}
#Reset{
    right: 30%;
}